*********************************************************************************
*                                                                               *
* DRILL TAPE SUMMARY REPORT                                                     *
*                                                                               *
* D:\ORCAD_PCB\UNIVERSAL SERVO DRIVER V6_1\UNIVERSAL_SERVO_DRIVER_VERSION6.MAX  *
* Mon Feb 22 14:13:18 2021                                                      *
*                                                                               *
*********************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       16       112      200      100                                                                                 
T2       31       12       200      100                                                                                 
T3       37       45       200      100                                                                                 
T4       55       20       200      100                                                                                 
T5       125      5        200      100                                                                                 
