************************************************************************************************************************
*                                                                                                                      *
* DRILL TAPE SUMMARY REPORT                                                                                            *
*                                                                                                                      *
* C:\USERS\PROF JAYASINGHE\DESKTOP\ALOKAPCB\TMC 4671 BOARD E2\TMC 4671 DESIGN PARALLEL BOARD REV1\TMC 4671 DESIGN.MAX  *
* Thu Jul 01 15:59:41 2021                                                                                             *
*                                                                                                                      *
************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       20       206      200      100                                                                                 
T2       25       2        200      100                                                                                 
T3       35       10       200      100                                                                                 
T4       37       33       200      100                                                                                 
T5       42       15       200      100                                                                                 
T6       45       1        200      100                                                                                 
T7       58       14       200      100                                                                                 
T8       78       2        200      100                                                                                 
T9       120      2        200      100                                                                                 
T10      125      4        200      100                                                                                 
